
    <table id="table" >

        <tr>
            <td>
                Name :
            </td>
            <td>
                {{ EmployeeName }}
            </td>
        </tr>
        <tr>
            <td>
                Age :
            </td>
            <td>
                {{ EmployeeAge }}
            </td>
        </tr>
        <tr>
            <td>
                Department :
            </td>
            <td>
                {{ EmployeeDept }}
            </td>
        </tr>
        <tr>
            <td>
                City : 
            </td>
            <td>
                {{ EmployeeCity }}
            </td>
        </tr>
    </table>                            

